<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOltdLCJkaXNwbGF5TmFtZSI6Ik5vdGlsaWZ5Iiwi
		cGFja2FnZUtpbmQiOnsicm9vdCI6e319LCJwbGF0Zm9ybXMiOlt7Im9wdGlv
		bnMiOltdLCJwbGF0Zm9ybU5hbWUiOiJpb3MiLCJ2ZXJzaW9uIjoiMTUuMiJ9
		XSwicHJvZHVjdHMiOlt7Im5hbWUiOiJOb3RpbGlmeSIsInNldHRpbmdzIjpb
		eyJidW5kbGVJZGVudGlmaWVyIjpbInh5ei5hcmllbGFyYXlhLm5vdGlsaWZ5
		Il19LHsidGVhbUlkZW50aWZpZXIiOlsiWEE3SFpIM1U5WCJdfSx7ImRpc3Bs
		YXlWZXJzaW9uIjpbIjEuMSJdfSx7ImJ1bmRsZVZlcnNpb24iOlsiMSJdfSx7
		ImlPU0FwcEluZm8iOlt7ImFjY2VudENvbG9yIjp7ImFzc2V0Ijp7Im5hbWUi
		OiJBY2NlbnRDb2xvciJ9fSwiYXBwQ2F0ZWdvcnkiOnsicmF3VmFsdWUiOiJw
		dWJsaWMuYXBwLWNhdGVnb3J5LnV0aWxpdGllcyJ9LCJhcHBJY29uIjp7ImFz
		c2V0Ijp7Im5hbWUiOiJBcHBJY29uIn19LCJjYXBhYmlsaXRpZXMiOltdLCJz
		dXBwb3J0ZWREZXZpY2VGYW1pbGllcyI6WyJwYWQiLCJwaG9uZSJdLCJzdXBw
		b3J0ZWRJbnRlcmZhY2VPcmllbnRhdGlvbnMiOlt7InBvcnRyYWl0Ijp7fX0s
		eyJsYW5kc2NhcGVSaWdodCI6e319LHsibGFuZHNjYXBlTGVmdCI6e319LHsi
		cG9ydHJhaXRVcHNpZGVEb3duIjp7ImNvbmRpdGlvbiI6eyJkZXZpY2VGYW1p
		bGllcyI6WyJwYWQiXX19fV19XX1dLCJ0YXJnZXRzIjpbIkFwcE1vZHVsZSJd
		LCJ0eXBlIjp7ImV4ZWN1dGFibGUiOm51bGx9fV0sInRhcmdldE1hcCI6eyJB
		cHBNb2R1bGUiOnsiZGVwZW5kZW5jaWVzIjpbXSwiZXhjbHVkZSI6W10sIm5h
		bWUiOiJBcHBNb2R1bGUiLCJwYXRoIjoiLiIsInJlc291cmNlcyI6W10sInNl
		dHRpbmdzIjpbXSwidHlwZSI6ImV4ZWN1dGFibGUifX0sInRhcmdldHMiOlt7
		ImRlcGVuZGVuY2llcyI6W10sImV4Y2x1ZGUiOltdLCJuYW1lIjoiQXBwTW9k
		dWxlIiwicGF0aCI6Ii4iLCJyZXNvdXJjZXMiOltdLCJzZXR0aW5ncyI6W10s
		InR5cGUiOiJleGVjdXRhYmxlIn1dLCJ0b29sc1ZlcnNpb24iOnsiX3ZlcnNp
		b24iOiI1LjYuMCJ9fQ==
		</data>
		<key>manifestHash</key>
		<data>
		zXQ9NtGFUWxghCkCu5YantXQ/aLx20Tj2pXd2v7d4aU=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.8.0</string>
	</dict>
</dict>
</plist>
