<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DocumentThumbnailConfiguration</key>
	<dict>
		<key>accentColorHash</key>
		<data>
		5xP3WDou3ZsEQ1NyOLfKRsOpu64Q1nlVdgKiY/5fzH8=
		</data>
		<key>appIconHash</key>
		<data>
		MXhn/uArbSdbZYH3czhDcrnwkVTcATKurHYbbQtDoDM=
		</data>
		<key>thumbnailIsPrerendered</key>
		<false/>
	</dict>
</dict>
</plist>
